/*#region Basic Styles*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}
ul, ol {
    list-style: none;
}
a:focus, a:hover {
    color: #404BBF;
}
button:focus, button:hover {
    background-color: #404BBF;
}
a{text-decoration: none}
/*#endregion*/

/*#region Styles*/
.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contacts-inform {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.h1-item {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.h2-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-h3-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-features-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.h2-team-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.our-team-fonts {
    background-color: #FFFFFF;
}

.our-team-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.our-team-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.h2-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.logo-studio {
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    color: #2E2F42;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}
.button {
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
}
.main-fonts{background-color: #2E2F42;}
.team-fonts{
    background-color: #F4F4FD;
}
.footer-big-fonts{background-color: #2E2F42;}


/*#endregion*/
/*#region Color Styles*/

.web-blue {color: #4D5AE5;
cursor: pointer;
line-height: 1.17 ;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: Raleway, sans-serif;
}
.studio-light{
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
}
/*#endiregion*/