/*#region Basic Styles*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}
ul, ol {
    list-style: none;
}
a:focus, a:hover {
    color: #404BBF;
}
button:focus, button:hover {
    background-color: #404BBF;
}
/*#endregion*/

/*#region Font Styles*/
h1, h2, h3 {
   color: #2E2F42;
}
ul{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
li {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #2E2F42;
}
h1 {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
}
h3{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2E2F42;
}
.nav-list {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #2E2F42;
}
.contacts-inform {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #2E2F42;
}
.logo-studio {
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    color: #2E2F42;
}
.button {
    font-size: 16px;
    line-height: 1.5;
background-color: #4D5AE5;
font-weight: 500;
cursor: pointer;
color: #FFFFFF;
}
.our-team-chentr{
    text-align: center;
}
.our-team-fonts{
    background-color: #FFFFFF;
}
.footer-fonts {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #F4F4FD;
}

.main-fonts{background-color: #2E2F42;}
.team-fonts{
    background-color: #F4F4FD;
}

.footer-big-fonts{background-color: #2E2F42;}


/*#endregion*/
/*#region Color Styles*/

.web-blue {color: #4D5AE5;
cursor: pointer;
}
.studio-light{
    color: #F4F4FD;
}
/*#endiregion*/